extend layout

block content
  .form-container
    form(class='form-signin' method='post' action='/auth/login')
      if message
        .alert.alert-danger(role='alert')= message
      h2 Please Login

      .form-group
        label(for='username' class='sr-only') username
        input(
          type='text'
          name='username'
          id='username'
          class='form-control'
          placeholder='Username',
          value=(message ? username : '')
          require
        )

      .form-group
        label(for='password' class='sr-only') Password
        input(
          type='password'
          name='password'
          id='password'
          class='form-control'
          placeholder='Password',
          require
        )

      button(class='btn btn-primary btn-block' type='submit') Login

      a(href="/register" class="btn btn-link") Don't have an account?